{% extends 'base.html' %}
{% load static %}

{% block title %}詳細画面{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div style="margin-left: 8rem;">
<h3 style="padding-top: 170px; margin-top: -100px;">データ一覧</h3>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- card　タブ変えたときの枠の高さを統一したい -->
<div id="card" class="row" style="margin-top:-60px; padding-top:60px;">
    {% for column in rank_records %}
    <div class="col-sm-3">
        <div class="card" style="max-width: 25rem">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#{{ column.category2 }}_1">{{ column.category2 }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#{{ column.category2 }}_2">status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#{{ column.category2 }}_3">level</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content mt-3" style="max-height: 50rem">

                <div class="tab-pane fade show active" id="{{ column.category2 }}_1">
                    <img class="card-img-top"
                         src="{% static 'img/'|add:column.product_name|add:'.jpg' %}" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ column.product_name }}</h4>
                        <p class="card-text">{{ column.maker }}</p>
                        <p class="card-text">{{ column.category }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#" class="badge bg-success">更新</a></li>
                            <li class="list-group-item"><a href="#" class="badge bg-success">削除</a></li>
                        </ul>
                    </div>
                </div>

                <div class="tab-pane fade" id="{{ column.category2 }}_2">
                    <div class="card-body">
                        <canvas id="{{ column.category2 }}_RadarChart" width="50" height="50"></canvas>
                        <h4 class="card-title">{{ column.product_name }}</h4>
                        <ul class="list-group list-group-flush">
                        </ul>
                    </div>
                </div>

                <div class="tab-pane fade" id="{{ column.category2 }}_3">
                    <img class="card-img-top"
                         src="{% static 'img/'|add:column.product_name|add:'.jpg' %}" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{ column.product_name }}</h4>
                        <p class="card-text">{{ column.maker }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#" class="badge bg-success">更新3</a></li>
                            <li class="list-group-item"><a href="#" class="badge bg-success">削除3</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                {{ column.category2 }}
                <!-- dropdown -->
                <div class="btn-group dropright">
                    <button class="btn btn-secondary dropdown-toggle mt-2" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        更新
                    </button>
                    <div class="dropdown-menu p-3" style="max-width: 300px;">
                        <h6 class="dropdown-header">ドロップダウンメニューの見出し</h6>
                        <form class="px-4 py-3" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="category">商品紹介</label>
                                <input type="text" id="category2" name="category2" value="{{ column.category2 }}" hidden>
                                <textarea class="form-control" id="category" name="category" rows="4" cols="50" placeholder="{{ column.category }}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">更新</button>
                        </form>

                        <div class="dropdown-divider"></div>
                        <p>TEST</p>
                        <span class="dropdown-item-text">非リンクテキスト</span>
                        <a class="dropdown-item" href="#">初めての方</a>
                        <a class="dropdown-item" href="#">パスワードをお忘れの方</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<br>
<br>
<script>
{% for key, value in chart_data.items %}
    var chartData = {{ value|safe }};
    var labels = {{ labels|safe }};

    var ctx = document.getElementById('{{ key }}_RadarChart').getContext('2d');
    var {{ key }}_RadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: labels,
            datasets: [{
                label: '{{ key }}',
                data: chartData,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                radar: {
                    ticks: {
                        suggestedMin: 1,  // 推奨最小値
                        suggestedMax: 5   // 推奨最大値
                    },
                    pointLabels: {
                        font: {
                            size: 14
                        }
                    },
                    angleLines: {
                        display: true
                    }
                }
            }
        }
    });
{% endfor %}
</script>





{% endblock %}