{% extends 'base.html' %}
{% load static %}

{% block title %}TOP画面{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<h3>ランキングを見る</h3>
<table class="table table-bordered border-dark">
    <thead class="table-info">
    <tr>
        <th scope="col"></th>
        <th scope="col">カテゴリー1</th>
        <th scope="col">カテゴリー2</th>
    </tr>
    </thead>
    <tbody>
    {% for key, value in category_dict.items %}
    <tr>
        <td scope="row"><a href="{% url 'detail' value.category1 value.category2 %}">開く</a></td>
        <td>{{ value.category1 }}</td>
        <td>{{ value.category2 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>

<!--category2-->
<h3>ランキング登録</h3>
{% comment %}
<!--<div class="col-2">-->
<!--    <select id="next_step" name="next_step" class="form-select">-->
<!--        {% for category2 in all_category2s %}-->
<!--            <option value="{{ app.name }}">{{ category2.category2 }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--</div>-->
<!--<button class="btn btn-primary w-10 btn-lg" type="button" onclick="location.href=''">変更管理新規登録</button>-->
{% endcomment %}

<form action="" name="form_top_page" id="form_top_page" method="post">
    {% csrf_token %}
    <div class="form-control">
        <div class="row m-1">
            <select id="next_step1" name="next_step1" class="form-select">
                {% for category1 in all_category1s %}
                    <option value="{{ app.name }}">{{ category1.category1 }}</option>
                {% endfor %}
            </select>
            <select id="next_step2" name="next_step2" class="form-select">
                {% for category2 in all_category2s %}
                    <option value="{{ app.name }}">{{ category2.category2 }}</option>
                {% endfor %}
            </select>
            <div class="col-2"><button class="btn btn-primary mt-2" type="submit">登録</button></div>
        </div>
    </div>
</form>
<br>


<form action="" name="form_top_page" id="form_top_page2" method="post">
    {% csrf_token %}
    <div class="form-control">
        <div class="row m-1">
                {% for rankdatas in rankdatas %}
                <div class="col-2 px-0">{{ rankdatas.label }}{{ rankdatas }}</div>
                {% endfor %}
                <div class="col-2"><button class="btn btn-primary mt-2" type="submit">絞り込み</button></div>
        </div>
    </div>
</form><br>
<br>


<h3>Category1</h3>
<table class="table table-bordered border-dark">
    <thead class="table-info">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Category1</th>
        </tr>
    </thead>
    <tbody>
        {% for category1 in all_category1s %}
            <tr>
                <td scope="row">{{ category1.id }}</td>
                <td scope="row">{{ category1.category1 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<h3>Category2</h3>
<table class="table table-bordered border-dark">
    <thead class="table-info">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Category1</th>
            <th scope="col">Category2</th>
        </tr>
    </thead>
    <tbody>
        {% for category2 in all_category2s %}
            <tr>
                <td scope="row">{{ category2.id }}</td>
                <td scope="row">{{ category2.category1 }}</td>
                <td scope="row">{{ category2.category2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<img src="{% static 'img/home.jpg' %}" alt="画像の説明" />

{% endblock %}


